{% extends 'vergo/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
	<section class="m-2" style="background: black; opacity: 0.8;">
		<div class="container py-5 h-100 ml-3"
			style=" background-repeat: no-repeat; background-size: cover;  background-image: url('https://cdn.pixabay.com/photo/2016/10/20/18/35/earth-1756274__340.jpg');">
			<form method="POST">
				{% csrf_token %}
				<div class="form-group">
					<legend class="border-bottom mb-4 mt-3 text-center fw-400 text-danger">Join Today</legend>
					<div class="row border">
						<div class="col-sm-12 col-md-5 col-lg-6 col-xl-8">
							<img src="https://cdn.pixabay.com/photo/2019/01/16/19/14/membership-3936563__340.jpg" alt=""
								class="w-100" style="border: transparent; border-radius: 2rem;">
						</div>
						<div class="col text-white fs-5">
							{{form|crispy}}
							<div class="form-group text-center">
								<button class="btn btn-outline-info" type="submit">Sign Up</button>
							</div>
							<div class="border-top pt-3 m-3">
								<small class="text-muted">
									Already have an account? <a href="{% url 'login' %}">Sign In</a>
								</small>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</section>
{% endblock %}
